.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #252525;
    position:absolute;
    bottom:0;
    width:100%;
}

.footerIcon {
    display: inline;
    text-align: center;
}

.footerText {
    margin: 0;
    color: #fff;
    text-decoration: none !important;
}