.loginIntro{
    text-align: center;
    margin-bottom: 3rem;
}

.loginTitle{
    font-weight: bold;
    font-size: 3rem;
}

.loginConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    border-radius: 2%;
    border-collapse: collapse;
    box-shadow:  0 0 1em #84976D;
    padding: 1rem;
}

.loginItensConteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.loginItens{
    margin-right: 5px;
}

.loginButtonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput{
    border-radius: 6px;
    font-size: 20px;
    line-height: 40px;
    border-color: #84976d74;
}

.loginButtons{
    width: 80%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 40px;
    background-color: #0084C6;
    color: #fff;
    margin: 0.5rem;
}

.signupButtons{
    width: 80%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 40px;
    background-color: #69B11F;
    color: #fff;
    margin: 1rem;
}